[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbus-python = "*"
PyGObject = "*"
evdev = "*"
pyusb = "==1.0.2"
Pillow = "==7.0.0"
cffi = "*"
psutil = "*"
appdirs = "*"

[dev-packages]
xlib = "*"

[requires]
python_version = "3.8"
